.logo
{
	display: inline;
	padding-top: 0%;
	width: 15%;
}
.resources
{
	display: inline;
	margin-right: 1%;
	font-size: 20px;
}
.site-head-1
{
	padding: 1em;
	background-color: #FFFFFF;
}
.site-head-test
{
	text-align: center;
	background-color: #777777;
	color: #FFFFFF;
}
.jumbo-caps
{
	text-align: center;
	font-family: Delius, Tahoma, Sans Serif;
}
.header-caps
{
	font-size: 1.1em;
	padding: 1%;
	background: #FFFFFF;
	text-align: center;
}
a:link
{
	color: black;
}
a:hover
{
	color: #ffdb4d;
	text-decoration: none;
}